body{
    background-color: #ebc26c;
    margin: 0;
    padding: 0;
}

textbox{
    background-color: white;
}
#top, #bottom, #left, #right {
    background: #b4da55;
    position: fixed;
}
#left, #right {
    top: 0; bottom: 0;
    width: 25px;
}
#left { left: 0; }
#right { right: 0; }

#top, #bottom {
    left: 0; right: 0;
    height: 50px;
}
#top { top: 0; }
#bottom { bottom: 0; }

/* Style the header */
.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
    position: absolute;
}

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}