body{
    background-color: #ebc26c;
    margin: 0px;
    padding-left: 25px;
    padding-right: 25px;
}

textbox{
    background-color: white;
}
#top, #bottom, #left, #right {
    background: #b4da55;
    position: fixed;
}
#left, #right {
    top: 0; bottom: 0;
    width: 25px;
}
#left { left: 0; }
#right { right: 0; }

#top, #bottom {
    left: 0; right: 0;
    height: 50px;
}
#top { top: 0; }
#bottom { bottom: 0; }


.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
    position: absolute;
    font-size: 15px;
}

.content {
    padding: 16px;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 0px;
}
#Login{
    text-align: center;
}